/* buttons style */
button#equal-button {
  	background-color : #6db442;
  	color : #ffffff;
}

button#pow-button {
	font-size : 16px;
  	font-style : italic;
}

/* entry style */
textview {
	padding-top : 16px;
	font-size : 18px;
}